[submodule "src/site"]
	path = src/site
	url = ../nihon-bisoh.git
[submodule "webpack-cdn-plugin"]
	path = webpack-cdn-plugin
	url = https://github.com/toshiyuki-rs/webpack-cdn-plugin.git
[submodule "wp-color-picker-alpha"]
	path = wp-color-picker-alpha-js
	url = https://github.com/oc-soft/wp-color-picker-alpha-js.git
[submodule "Iris"]
	path = Iris
	url = https://github.com/Automattic/Iris.git
[submodule "Color.js"]
	path = Color.js
	url = https://github.com/Automattic/Color.js.git
[submodule "wp-color-ext"]
	path = wp-color-ext
	url = https://github.com/oc-soft/wp-color-ext.git
[submodule "wp-iris-alpha-js"]
	path = wp-iris-alpha-js
	url = https://github.com/oc-soft/wp-iris-alpha-js.git
[submodule "oc-color-picker-alpha"]
	path = oc-color-picker-alpha
	url = https://github.com/oc-soft/oc-color-picker-alpha.git
[submodule "oc-pdf-viewer"]
	path = oc-pdf-viewer
	url = https://github.com/oc-soft/wp-oc-pdf-viewer.git
[submodule "oc-range"]
	path = oc-range
	url = https://github.com/oc-soft/wp-oc-range.git
[submodule "oc-send-message"]
	path = oc-send-message
	url = https://github.com/oc-soft/wp-oc-send-message.git
[submodule "oc-jp-addr-assistant"]
	path = oc-jp-addr-assistant
	url = https://github.com/oc-soft/wp-oc-jp-addr-assistant.git
[submodule "oc-smart-table"]
	path = oc-smart-table
	url = https://github.com/oc-soft/wp-oc-smart-table.git
